body {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(72,154,200,1) 100%);
}


.display {text-align: left;}


.App {
  margin: auto;
  width: 35vw;
  display: block;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(14,14,29,1) 77%, rgba(71,121,164,1) 100%);
  color: #fff;
  padding: 45px;
  font-size: 15px;
  font-style: italic;
}
form input {
  font-size: 18px;
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 15px;
}
form input[type=submit] {margin-top: 10px;background: #000;border: none;}